@import 'https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap';

.formBorder {
  width: 100%;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 300px;
  margin-bottom: 20px;
}

.input {
  font-weight: 700;
  color: #e8df5f;
  padding: 0 5px;
  border: 3px solid #e8df5f;
  background: rgb(47, 47, 47);
  border-radius: 6px;
  height: 30px;
  outline: none;
  margin-top: 2px;
}

.input:focus {
  background: #e8df5f;
  color: rgb(47, 47, 47);
}

.button {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  border: 3px solid #e8df5f;
  color: #e8df5f;
  background: none;
  border-radius: 6px;
  margin-top: 20px;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 60px;
}

.button:hover,
.button:focus {
  background-color: #e8df5f;
  color: rgb(47, 47, 47);
}
