.list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.button {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  border: 3px solid #e8df5f;
  color: #e8df5f;
  background: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 15px;
}

.button:hover,
.button:focus {
  background-color: #e8df5f;
  color: rgb(47, 47, 47);
}

.empty {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

.checkbox {
  margin-right: 15px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
